@tailwind base;
@tailwind components;
@tailwind utilities;

.container_login {
  margin: 0 auto;
}

@media screen and (max-width: 576px) {
  .container_login {
    width: 80%;
  }
}

.container {
  width: 912px;
  margin: 0 auto;
}

.container_tablemovie {
  width: 912px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.theme-btn {
  width: 100%;
  height: 60px;
  font-weight: 600;
  font-size: 20px;
  background: linear-gradient(to left, #fb4226, #ce3017 100%);
  border-radius: 6px;
  color: white;
}

.theme-btn:hover {
  background: linear-gradient(to left, #52160d, #d81d00 100%);
}

/* css carousel */
.slick-dots li button::before {
  font-size: 18px;
  color: rgb(251, 255, 0);
}

.slick-dots li.slick-active button:before {
  color: rgb(255, 251, 29);
}

.slick-dots {
  position: relative;
  z-index: 11;
  top: -130px;
}

@media screen and (max-width: 960px) {
  .slick-dots {
    top: -60px;
  }
}

@media screen and (max-width: 599px) {
  .searchMovie_Mobile {
    margin-top: 74px;
  }
}

/* css input search */
@media screen and (max-width: 1023px) {
  .searchMovie {
    width: 768px;
  }

  .slect_phim {
    width: 200px !important;
  }

  .slect_rap {
    width: 170px !important;
  }

  .slect_gioChieu {
    width: 170px !important;
  }
}

.ant-input-search .ant-input {
  @apply py-3;
}

.ant-input-search .ant-input-search-button {
  height: 47px;
}

.ant-select-selection-item {
  font-size: 16px;
  font-weight: 600 !important;
}

.ant-btn-primary {
  background-color: #f45f48;
}

.ant-btn-primary:hover {
  background-color: #9a1703 !important;
}

.ant-input-search .ant-input:focus,
.ant-input-search .ant-input:hover {
  border: 1px solid #9a1703;
}

/* css card list movie */
.ant-card .ant-card-body {
  @apply p-0;
}

.card_overlay,
.card_overlay-mb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 6px;
  overflow: hidden;
  opacity: 0;
}

.card_overlay:hover,
.item_movie-mb:hover .card_overlay-mb {
  opacity: 1;
  transition: all 0.4s;
}

.slick-list {
  @apply w-full grid grid-cols-4 gap-6;
}

/* css input RegisterPage */
.ant-form-item-explain-error {
  position: absolute;
  top: 8px;
  left: 12px;
  right: 0;
}

/* css table movie */
.ant-tabs-nav .ant-tabs-nav-operations {
  display: none !important;
}

.ant-tabs-content>.ant-tabs-tabpane {
  padding-left: 0 !important;
}

.tableBuyTicket th,
.tableBuyTicket td {
  @apply py-5 border-t-2;
}

.gheThuong {
  @apply bg-gray-300 h-10 w-10 leading-10 text-center rounded-md;
}

.gheVip {
  @apply bg-orange-600 h-10 w-10 leading-10 text-center rounded-md;
}

.gheDaDat {
  @apply !cursor-none !bg-gray-800 text-white h-10 w-10 leading-10 text-center rounded-md;
}



.gheThuongMobile {
  @apply bg-gray-300 h-6 w-6 leading-6 text-center rounded-md;
}

.gheVipMobile {
  @apply bg-orange-600 h-6 w-6 leading-6 text-center rounded-md;
}

.gheDaDatMobile {
  @apply !cursor-none !bg-gray-800 text-white h-6 w-6 leading-6 text-center rounded-md;
}



.tableBuyTicket td {
  @apply text-right;
}

.grid-cols-16 {
  grid-template-columns: repeat(16, minmax(0, 1fr));
}

.container_booking {
  width: 1500px;
  margin: 0 auto;
}

.font-title th {
  padding-left: 10px;
}

.font-title td {
  padding-right: 10px;
}